<div class="jumbotron">
    <h1>NfeToPdf</h1>
    <p class="lead">Um projeto para facilitar sua vida na visualização da NFE em PDF.</p>
    <p><a href="https://github.com/lgcastellucci/NfeToPdf" class="btn btn-primary btn-lg">Github &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Prefeitura de Botucatu - Sigep</h2>
        <p>Utilize nosso link para disponibilizar a visualização do PDF.</p>
        <p>http://castellucci.net.br/NfeToPdf/api/Consulta?prestadorMunicipio={prestadorMunicipio}&tomadorCNPJ={tomadorCNPJ}&rps={rps}</p>
        <p><a class="btn btn-default" href="http://castellucci.net.br/NfeToPdf/api/Consulta?prestadorMunicipio=3507506&tomadorCNPJ=12345678901234&rps=123456">Exemplo &raquo;</a></p>
    </div>
    <div class="col-md-12">
        <h2>Prefeitura de Catanduva - Fiorilli</h2>
        <p>Utilize nosso link para disponibilizar a visualização do PDF.</p>
        <p>http://castellucci.net.br/NfeToPdf/api/Consulta?prestadorMunicipio={prestadorMunicipio}&tomadorCNPJ={tomadorCNPJ}&nroNota={nroNota}&codVerificacao={codVerificacao}</p>
        <p><a class="btn btn-default" href="http://castellucci.net.br/NfeToPdf/api/Consulta?prestadorMunicipio=3511102&tomadorCNPJ=12345678901234&nroNota=123456&codVerificacao=123KEY123">Exemplo &raquo;</a></p>
    </div>
</div>
