<div class="jumbotron">
    <h1>NfeToPdf</h1>
    <p class="lead">Um projeto para facilitar sua vida na visualização da NFE em PDF.</p>
    <p><a href="https://github.com/lgcastellucci/NfeToPdf" class="btn btn-primary btn-lg">Github &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Prefeitura de Botucatu - Sigep</h2>
        <p>Utilize nosso link para disponibilizar a visualização do PDF.</p>
        <p><a class="btn btn-default" href="">Detalhes &raquo;</a></p>
    </div>
</div>
