
@{
    ViewBag.Title = "About";
}

<br />
<div class="container">
    <div class="form-login">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">@ViewBag.Title</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div style="margin-bottom: 25px" class="input-group">
                    <span><b>Ambiente : </b>@ViewBag.Ambiente</span>
                </div>
            </div>
        </div>
    </div>
</div>

